@model IEnumerable<Student>
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";  //有viewstart 控制布局
    ViewBag.Title = "学生列表";
}

<table class="table">
    <tr class="">
        <td>ID</td>
        <td>姓名</td>
        <td>邮箱</td>
        <td>操作</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><div>ID: @item.Id</div></td>
            <td><div>姓名：@item.Name</div></td>
            <td><div>邮箱：@item.Email</div></td>
            <td>
                <div>
                    <a class="m-1 btn btn-primary" asp-controller="home" asp-action="detail" asp-route-id="@item.Id">查看</a>
                    <a class="m-1 btn btn-warning" asp-controller="home" asp-action="edit" asp-route-id="@item.Id">编辑</a>
                    <a class="m-1 btn btn-danger" asp-controller="home" asp-action="delete" asp-route-id="@item.Id">删除</a>
                </div>
            </td>
        </tr>
    }
</table>